# FILES
.DS_STORE
privkey.txt
*.sst
*.log
CURRENT
IDENTITY
LOCK
LOG
OPTIONS-*
MANIFEST-*
*.old.*
ckb.toml
ckb-miner.toml
default.db-options
MANIFEST-*
OPTIONS-*
*private-key
testnet rpc command.txt
*.sst

# DIRECTORIES
**/ckb_*
data/
temp/
node_modules/
